version: '3.8'

services:
  backend:
    build: ./backend
    container_name: fastapi_app
    restart: always
    env_file:
      - ./backend/.env
    expose:
      - "8000"

  nginx:
    image: nginx:latest
    container_name: nginx_server
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./frontend/build:/usr/share/nginx/html
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - backend
